@media only screen and (min-width : 768px) and (max-width : 1024px){

    body{
        width: 100%;
        max-width : 1024px;
        min-width : 768px;
    }
    .container{
        width: 90%;
    }
    .general__title{
        font-size: 22px;
        padding: 30px 0;
    }
    .general__subtitle{
        text-align: center;
        padding-bottom: 20px;
        font-size: 16px;
        line-height: 1.2;
    }
    .black__button button{
        display: block;
        margin: 10px auto;
        border-radius: 15px;
        width: 100%;
        max-width: 200px;
        min-height: 40px;
    }
    .black__button a{
        font-size: 12px;
    }

    /* header */

.header{
    width: 100vw;
    max-width : 1024px;
    min-width : 768px;
}

.header .header__top{
    width: 100%;
    background:  rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    position: relative;
}

.header .header__top .header__top__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    color: #ffff;
    filter: brightness(100%);
}
.header .header__top .header__top__inner .header__top__inner__left{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: block;
}
.header .header__top .header__top__inner .header__top__inner__left .burger-menu{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
}
.header .header__top .header__top__inner .header__top__inner__left .burger-menu img{
    width: 30px;
    height: auto;
}
.header .header__top .header__top__inner .header__top__inner__left .header__top__menu{
    /* display: block; */
    display: none;    
    position: absolute;
    left: 0;
    top: 41px;
    background:  rgba(0,0,0,0.75);
}
.header .header__top .header__top__inner .header__top__inner__left .header__top__menu a{
    padding-right: 0px;
    color: #ffff; 
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 18px;
    display: inline-block;
}
.header .header__top .header__top__inner .header__top__inner__left:hover .header__top__menu{
    display: block;
}
.header .header__top .header__top__inner .header__top__inner__logo a{
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    color: #FFF;
    letter-spacing: 4px;
    border: 2px solid #ffff;
    padding: 5px;
    text-decoration: none;
    position: relative;
    transition: all 1s ease-out;
}
.header .header__top .header__top__inner .header__top__inner__logo a:hover{
    background:#fff;
    color: #000;
    border: 2px solid #000;
    font-weight: bold;
}
.header .header__top .header__top__inner .header__top__inner__right{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.header .header__top .header__top__inner .header__top__inner__right .header__header__top__phone{
    padding-right: 20px;
}
.header .header__top .header__top__inner .header__top__inner__right img{
    vertical-align: middle;
}
.header .header__mine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 45px 0;
    text-align: center;
    color: #ffff; 
}
.header .header__mine .header__mine__left{
    padding-right: 0px;
    text-align: center;
}
.header .header__mine .header__mine__left .header__mine__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    padding-bottom: 20px;
}
.header .header__mine .header__mine__left .header__mine__descr{
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 10px;
}
.header .header__mine .header__mine__right{
    width: 100%;
    max-width: 500px;
    min-height: 350px;
    background:  rgba(0,0,0,0.5);
    margin-top: 0px;
}
.header .header__mine .header__mine__right .header__mine__right__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding-top: 40px;
}
.header .header__mine .header__mine__right .header__mine__right__descr{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    padding-top: 20px;
}
.header .header__mine .header__mine__right .header__mine__right__form input{
    margin: 20px auto;
    background: #B9CA9D;
    opacity: 0.75;
    border-radius: 15px;
    width: 100%;
    max-width: 250px;
    min-height: 40px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 12px;
    line-height: 1.2;
}

/* features */

.features{
    max-width : 1024px;
    min-width : 768px;
}

.features .features__table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 20px 0;
}
.features .features__table img{
    width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease-out;
    object-fit: cover;
}
.features .features__table:hover .features__table__item img{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
    border-radius: 5%;
}
.features .features__table .features__table__item,
.features .features__table .features__table__item .features__table__item__point{
    position: relative;
    object-fit: contain;
}
.features .features__table .features__table__item p{
    display: block;
    font-size: 11px;
    line-height: 120%;
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 340px; 
}
.features .features__table .features__table__item ul{
    list-style: square;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 170px;
}
.features .features__table .features__table__item ul:last-child{
    text-align: right;
}
.features .features__table .features__table__item ul li{
    padding-bottom: 10px;
    font-size: 11px;
}

/* friend */

.friend{
    max-width : 1024px;
    min-width : 768px;
}
.friend .friend__table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}
.friend .friend__table img{
    display: block;
    width: 100%;
    max-width: 100px;
    height: auto;
}
.friend .friend__state{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-items: center;
    padding-bottom: 50px;
}
.friend .friend__state .friend__state__item{
    text-align: center;
}
.friend .friend__state .friend__state__item:hover{
    color: #003C00;
    font-weight: bold;
}
.friend .friend__state .friend__state__item img{
    width: 40%;
}
.friend .friend__state .friend__state__item p{
    padding-top: 20px;
    font-size: 11px;
}
.friend .friend__reviews{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 0px; 
}
.friend .friend__reviews:hover .friend__reviews__item{
    box-shadow: 10px 10px 5px rgba(29, 69, 29, 0.8);
    padding-bottom: 10px;
}
.friend .friend__reviews .friend__reviews__item{
    width: 70%;
    margin: 20px auto 0;
    background: #B9CA9D;
    transition: all 0.5s ease-out;
    border-radius: 20px;
    padding: 20px; 
}
.friend .friend__reviews .friend__reviews__item p{
    text-align: justify;
    font-size: 12px;
}
.friend .friend__reviews .friend__reviews__item span{
    display: block;
    text-align: right;
    font-size: 10px;
    padding-top: 10px;
}

/* shop */

.shop{
    max-width : 1024px;
    min-width : 768px;
}
.shop .shop__slider{
    padding-bottom: 30px;
}
.shop .shop__slider .shop__slider__item{
    height: 250px;
}

.shop .product__slider{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.shop .product__slider .product__slider__item{
    padding-right: 10px;
}
.shop .product__slider .product__slider__item:last-child{
    padding-right: 0px;
}
.shop .product__slider .product__slider__item img{
    width: 150px;
    height: auto;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
}
.shop .product__slider .product__slider__item h4{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}
.shop .product__slider .product__slider__item p{
    padding: 10px 0;
    font-size: 12px;
}
.shop .product__slider .product__slider__item .product__slider__price{
    max-width: 100px;
}
.shop .help{
    width: 100%;
    max-width : 1024px;
    min-width : 768px;
    min-height: 300px;
    background:url(../img/help-bg.png) no-repeat center;
    background-size: cover;
}
.shop .help .help__inner{
    width: 70%;
    text-align: left;
    color: #ffffff;
    padding-top: 90px;
}

.shop .help .help__inner h3{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 30px;
}
.shop .help .help__inner p{
    font-size: 12px;
    line-height: 1.2;
    padding-bottom: 20px;
}
.shop .help .help__inner button{
    margin-right: 0px;
}

/* terms */

.terms{
    max-width : 1024px;
    min-width : 768px;
}
.terms .terms__inner{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 1.2;
}
.terms .terms__inner .terms__title,
.terms .terms__shop .terms__title{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}
.terms .terms__inner .terms__item{
    width: 50%;
}
.terms .terms__inner .terms__item img{
    width: 20%;
}
.terms .terms__inner .terms__item li{
    padding-bottom: 20px;
    list-style: none;
    font-size: 12px;
}
.terms .terms__shop{
    text-align: center;
}
.terms .terms__shop img{
    width: 10%;
}
.terms .terms__shop .terms__var{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-top: 20px;
    font-size: 12px;
}
.terms .terms__shop .terms__var .terms__point{
    padding-bottom: 10px;
}
.terms .terms__shop .terms__var p{
    padding-bottom: 0px;
}
.terms .terms__shop .terms__var .terms__time p{
    padding-top: 10px;
}
.terms .terms__shop .terms__var .terms__time .circle-full{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
    border: 1px solid #000;
}
.terms .terms__shop .terms__var .terms__time .circle-empty{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #000;
}
.terms .terms__card{
    width: 100%;
    max-width : 1024px;
    min-width : 768px;
    margin: 30px auto;
} 
.terms .terms__card iframe{
    width: 100%;
}

/* feedback */

.feedback{
    width: 100%;
    max-width : 1024px;
    min-width : 768px;
    min-height: 400px;
    background:url(../img/feedback-bg.png) no-repeat center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}
.feedback .feedback__inner{
    width: 100%;
    max-width: 600px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
    background:  rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.feedback .feedback__inner p{
    color: #FFF; 
    padding: 10px 0;
    font-size: 14px;
    line-height: 3; 
}
.feedback .feedback__inner .feedback__input input{
    margin: 0 auto;
    background: #B9CA9D;
    opacity: 0.75;
    border-radius: 15px;
    width: 100%;
    max-width: 145px;
    min-height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 12px;
    line-height: 1.2;
}

/* footer */

.footer{
    width: 100%;
    max-width : 1024px;
    min-width : 768px;
    min-height: 150px;
    margin: 0 auto;
    background: #000;
}
.footer .footer__inner{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #FFF;
}
.footer .footer__inner .footer__logo a{
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    color: #FFF;
    letter-spacing: 4px;
    border: 2px solid #ffff;
    padding: 5px;
    text-decoration: none;
    position: relative;
    transition: all 1s ease-out;
}

.footer .footer__inner .footer__item span{
    padding-top: 10px;
    font-size: 8px;
}
.footer .footer__inner .footer__item p{
    padding-top: 10px;
    font-size: 12px;
}

}