@media only screen and (min-width : 320px) and (max-width : 480px){
    body{
        width: 100vw;
        min-width : 320px;
        max-width : 480px;
    }
    .container{
        width: 95%;
        margin: 0 auto;
    }
    .general__title{
        font-size: 20px;
        padding: 20px 0;
    }
    .general__subtitle{
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 1.2;
    }
    .white__button button,
    .black__button button{
        margin: 20px auto;
        max-width: 210px;
        min-height: 20px;
    }
    .white__button a,
    .black__button a{
        font-size: 10px;
        line-height: 1;
    }
    .white__button a, .black__button a:hover{
        border: 1px solid #fff;
        padding: 15px;
        transition: all 0.3s ease-in;
    }

/* header */

.header{
    max-width : 480px;
    min-width : 320px;
}

.header .header__top{
    max-width : 480px;
    min-width : 320px;
    position: fixed;
    top: 0;
    z-index: 9999;
    position: relative;
}

.header .header__top .header__top__inner{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header__top .header__top__inner .header__top__inner__left{
    display: none;
}
.header .header__top .header__top__inner .header__top__inner__logo a{
    font-size: 12px;
}
.header .header__top .header__top__inner .header__top__inner__right{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    flex-direction: column;
}
.header .header__top .header__top__inner .header__top__inner__right .header__header__top__phone{
    padding-right: 10px;
}
.header .header__mine{
    width: 90%;
    max-width : 480px;
    min-width : 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 10% 0;
}
.header .header__mine .header__mine__left{
    width: 100%;
    text-align: center;
    margin-right: 0px;
}
.header .header__mine .header__mine__left .header__mine__title{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 20px;
}
.header .header__mine .header__mine__left .header__mine__descr{
    font-size: 12px;
    line-height: 1;
    padding-bottom: 20px;
}
.header .header__mine .header__mine__right{
    width: 100%;
    max-width: 260px;
    background:  rgba(0,0,0,0.5);
}
.header .header__mine .header__mine__right .header__mine__right__title{
    font-size: 16px;
    line-height: 1.2;
    padding-top: 20px;
}
.header .header__mine .header__mine__right .header__mine__right__descr{
    font-size: 12px;
    line-height: 1.2;
    padding-top: 15px;
}
.header .header__mine .header__mine__right .header__mine__right__form input{
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 200px;
    min-height: 30px;
    padding-left: 10px;
    font-size: 10px;
    line-height: 1.2;
}

/* features */

.features{
    max-width : 480px;
    min-width : 320px;
}
.features .features__state{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
}
.features .features__state .features__state__item img{
    width: 30%;
    height: auto;
}
.features .features__state .features__state__item p{
    padding-top: 10px;
    font-size: 12px;
}

.features .features__table{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.features .features__table img{
    display: block;
    transition: 0.5s ease-out;
    object-fit: cover;
    width: 100%;
    max-width: 250px;
    height: auto;
    padding-bottom: 0px;
    object-fit: contain;
    margin: 0 auto;
}
.features .features__table:hover .features__table__item img{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
.features .features__table .features__table__item,
.features .features__table .features__table__item .features__table__item__point{
    width: 100%;
    max-width : 320px;
    position: relative;
    object-fit: contain;
    margin: 20px auto;
}
.features .features__table .features__table__item p{
    display: block;
    font-size: 10px;
    line-height: 1.2;
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 40px auto;
}
.features .features__table .features__table__item ul{
    list-style: square;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 480px;
}
.features .features__table .features__table__item ul:last-child{
    text-align: left;
}
.features .features__table .features__table__item ul li{
    padding-bottom: 0px;
    font-size: 10px;
}

/* friend */

.friend{
    max-width : 480px;
    min-width : 320px;
}
.friend .friend__table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 0px;
}
.friend .friend__table img{
    display: block;
    width: 100%;
    max-width: 80px;
    height: auto;
    margin: 0 auto;
}
.friend .friend__state{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 30px;
}
.friend .friend__state .friend__state__item{
    text-align: center;
}
.friend .friend__state .friend__state__item:hover{
    color: #003C00;
    font-weight: bold;
}
.friend .friend__state .friend__state__item img{
    width: 30%;
    height: auto;
}
.friend .friend__state .friend__state__item p{
    padding-top: 10px;
    font-size: 10px;
}
.friend .friend__reviews{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 0px; 
}
.friend .friend__reviews:hover .friend__reviews__item{
    box-shadow: 10px 10px 5px rgba(29, 69, 29, 0.8);
}
.friend .friend__reviews .friend__reviews__item{
    margin-left: 0px;
    margin-bottom: 15px;
    padding: 10px;   
}
.friend .friend__reviews .friend__reviews__item p{
    text-align: justify;
    font-size: 12px;
}
.friend .friend__reviews .friend__reviews__item span{
    display: block;
    text-align: right;
    font-size: 10px;
    padding-top: 10px;
}

/* shop */

.shop{
    max-width : 480px;
    min-width : 320px;
}
.shop .shop__slider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.shop .product__slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.shop .product__slider .product__slider__item{
    padding-right: 0px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.shop .product__slider .product__slider__item:last-child{
    padding-right: 0px;
}
.shop .product__slider .product__slider__item img{
    width: 200px;
    height: auto;
    padding-bottom: 10px;
}
.shop .product__slider .product__slider__item h4{
    font-size: 12px;
    padding-bottom: 5px;
}
.shop .product__slider .product__slider__item p{
    font-size: 10px;
    padding: 5px 0;
}
.shop .product__slider .product__slider__item .product__slider__price{
    width: 100%;
    max-width: 100px;
    margin: 10px auto 0;
}
.shop .help{
    width: 100%;
    max-width : 480px;
    min-width : 320px;
    min-height: 220px;
    background:url(../img/help-bg.png) no-repeat right bottom;
    background-size: cover;
}
.shop .help .help__inner{
    width: 100%;
    padding-top: 50px;
}

.shop .help .help__inner h3{
    font-size: 14px;
    padding-bottom: 10px;
}
.shop .help .help__inner p{
    font-size: 10px;
    line-height: 1.2;
}
.shop .help .help__inner button{
    margin-right: 0px;
}

/* terms */

.terms{
    width: 100%;
    max-width : 480px;
    min-width : 320px;
}

.terms .terms__inner{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    line-height: 1.2;
}
.terms .terms__inner .terms__title,
.terms .terms__shop .terms__title{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}
.terms .terms__inner .terms__item{
    width: 100%;
}
.terms .terms__inner .terms__item:first-child{
    margin-right: 0px;
}
.terms .terms__inner .terms__item img{
    width: 20%;
    height: auto;
}
.terms .terms__inner .terms__item li{
    padding-bottom: 10px;
    list-style: none;
    font-size: 10px;
}
.terms .terms__showroom .terms__slider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.terms .terms__showroom .terms__slider .terms__slider__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-basis: 33%;
    border: 1px solid #000;
    transition: ease-out 1s;
}
.terms .terms__showroom .terms__slider .terms__slider__item:hover{
    flex-basis: 100%;
    transform: scale(1.1); 
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
}
.terms .terms__showroom .terms__shop{
    text-align: center;
}
.terms .terms__showroom .terms__shop .terms__var{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    padding-top: 20px;
}
.terms .terms__showroom .terms__shop .terms__var .terms__point{
    padding-bottom: 15px;
}
.terms .terms__showroom .terms__shop .terms__var p{
    padding-bottom: 0px;
}
.terms .terms__showroom .terms__shop .terms__var .terms__time p{
    padding-top: 10px;
}
.terms .terms__showroom .terms__shop .terms__var .terms__time .circle-full{
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #000;
    border: 1px solid #000;
    border-radius: 50%;
}
.terms .terms__showroom .terms__shop .terms__var .terms__time .circle-empty{
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 1px solid #000;
    border-radius: 50%;
}
.terms .terms__card iframe{
    width: 100vw;
    margin: 20px auto;
}

/* feedback */

.feedback{
    width: 100%;
    max-width : 480px;
    min-width : 320px;
    min-height: 400px;
    background:url(../img/feedback-bg.png) no-repeat center;
    background-size: cover;
}
.feedback .feedback__inner{
    width: 90%;
    min-height: 100px;
    margin: 0 auto;
}
.feedback .feedback__inner p{
    color: #FFF; 
    padding: 10px 0;
    font-size: 12px;
    line-height: 3; 
    text-align: center;
}
.feedback .feedback__inner .feedback__input{
    display: block;
    margin: 0 auto;
}
.feedback .feedback__inner .feedback__input input{
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 200px;
    min-height: 30px;
    padding-left: 10px;
    font-size: 10px;
    line-height: 1.2;
}
.feedback .feedback__inner .feedback__input input:first-child{
    margin-right: 0px;
}
/* footer */

.footer{
    width: 100vw;
    max-width : 480px;
    min-width : 320px;
    min-height: 150px;
    margin: 0 auto;
}
.footer .footer__inner{
    width: 100%;
    /* max-width: 1240px; */
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column-reverse;
    color: #FFF;
}
.footer .footer__inner .footer__logo{
    height: 30px;
    margin-top: 10px;
    text-align: center;
}
.footer .footer__inner .footer__logo a{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #FFF;
    letter-spacing: 4px;
    border: 2px solid #ffff;
    text-decoration: none;
    position: relative;
    transition: all 1s ease-out;
    padding: 5px 4px 5px 8px;
    text-align: center;
}
.footer .footer__inner .footer__logo a:hover{
    background:#fff;
    color: #000;
    border: 2px solid #000;
}
.footer .footer__inner .footer__item{
    display: block;
    margin: 0 auto;
}
.footer .footer__inner .footer__item p{
    padding-top: 5px;
    font-size: 12px;
}
.footer .footer__inner .footer__item img{
    vertical-align: middle;
}

}

