body{
    width: 100vw;
    font-family: "HelveticaNeue", "Helvetica";
    letter-spacing: 0.1em;
    box-sizing: border-box;
    margin: 0 auto;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.general__title{
    font-weight: bold;
    font-size: 30px;
    color: #000;
    text-align: center;
    padding: 50px 0;
}
.general__subtitle{
    text-align: center;
    padding-bottom: 50px;
    font-size: 22px;
    line-height: 130%;
}
.white__button,
.black__button{
    margin: 0 auto;
}
.white__button button{
    display: block;
    margin: 30px auto;
    width: 100%;
    max-width: 270px;
    min-height: 40px;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    color: #FFF;
    background: transparent;
}
.white__button a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in;
}
.white__button a:hover{
    border: 1px solid #fff;
    padding: 20px;
    transition: all 0.3s ease-in;
}
.black__button button{
    display: block;
    margin: 30px auto;
    width: 100%;
    max-width: 270px;
    min-height: 40px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    color: #000;
    background: transparent;
}
.black__button a{
    font-size: 14px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease-in;
}
.black__button a:hover{
    border: 1px solid #000;
    padding: 20px;
    transition: all 0.3s ease-in;
}

/* header */

.header{
    width: 100vw;
    /* max-width: 1240px; */
    height: 100vh;
    background:url(../img/header-bg.png) no-repeat center;
    background-size: cover;
    margin: 0 auto;
}

.header .header__top{
    width: 100vw;
    /* max-width: 1240px; */
    background:  rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    z-index: 9999;
}

.header .header__top .header__top__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    color: #ffff;
}
.header .header__top .header__top__inner .header__top__inner__left{
    position: relative;
}
.header .header__top .header__top__inner .header__top__inner__left .header__top__menu {
    display: flex;
    justify-content: space-between;
}
.header .header__top .header__top__inner .header__top__inner__left .burger-menu{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.header .header__top .header__top__inner .header__top__inner__left .burger-menu img{
    width: 50px;
    height: auto;
}
.header .header__top .header__top__inner .header__top__inner__left .header__top__menu a{
    padding-right: 25px;
    color: #ffff; 
    text-decoration: none;
}
.header .header__top .header__top__inner .header__top__inner__logo{
    height: 30px;
}
.header .header__top .header__top__inner .header__top__inner__logo a{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #FFF;
    letter-spacing: 4px;
    border: 2px solid #ffff;
    text-decoration: none;
    position: relative;
    transition: all 1s ease-out;
    padding: 5px 4px 5px 8px;
}
.header .header__top .header__top__inner .header__top__inner__logo a:hover{
    background:#fff;
    color: #000;
    border: 2px solid #000;
}
.header .header__top .header__top__inner .header__top__inner__right{
    display: flex;
    justify-content: space-between;
}
.header .header__top .header__top__inner .header__top__inner__right a{
    text-decoration: none;
    color: #fff;
}
.header .header__top .header__top__inner .header__top__inner__right .header__header__top__phone{
    padding-right: 40px;
}
.header .header__top .header__top__inner .header__top__inner__right img{
    vertical-align: middle;
}
.header .header__mine{
    width: 90%;
    margin: 0 auto;
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.header .header__mine .header__mine__left{
    width: 100%;
    text-align: left;
    margin-right: 30px;
}
.header .header__mine .header__mine__left .header__mine__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 20px;
}
.header .header__mine .header__mine__left .header__mine__descr{
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}
.header .header__mine .header__mine__right{
    width: 100%;
    max-width: 480px;
    background:  rgba(0,0,0,0.5);
}
.header .header__mine .header__mine__right .header__mine__right__title{
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    padding-top: 30px;
}
.header .header__mine .header__mine__right .header__mine__right__descr{
    width: 90%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-top: 20px;
}
.header .header__mine .header__mine__right .header__mine__right__form input{
    display: block;
    margin: 25px auto;
    background: #B9CA9D;
    opacity: 0.75;
    width: 100%;
    max-width: 300px;
    min-height: 50px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 14px;
    line-height: 1.2;
}

/* features */

.features{
    width: 100vw;
    /* max-width: 1240px; */
    margin: 0 auto;
}
.features .features__state{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
}
.features .features__state .features__state__item{
    text-align: center;
}
.features .features__state .features__state__item:hover{
    color: #003C00;
    font-weight: bold;
}
.features .features__state .features__state__item p{
    padding-top: 20px;
}

.features .features__table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 25px;
}
.features .features__table img{
    display: block;
    transition: 0.5s ease-out;
    object-fit: cover;
    margin: 0 auto;
}
.features .features__table:hover .features__table__item img{
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
.features .features__table .features__table__item,
.features .features__table .features__table__item .features__table__item__point{
    position: relative;
    object-fit: contain;
}
.features .features__table .features__table__item p{
    display: block;
    font-size: 14px;
    line-height: 1.3;
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 340px;
    padding: 0 10px; 
}
.features .features__table .features__table__item ul{
    list-style: square;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 300px;
    font-size: 14px;
}
.features .features__table .features__table__item ul li{
    padding-bottom: 10px;
}

/* friend */

.friend{
    width: 100vw;
    /* max-width: 1240px; */
    margin: 0 auto;
}
.friend .friend__table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}
.friend .friend__table img{
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;
}
.friend .friend__state{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-items: center;
    padding-bottom: 50px;
}
.friend .friend__state .friend__state__item{
    text-align: center;
}
.friend .friend__state .friend__state__item:hover{
    color: #003C00;
    font-weight: bold;
}
.friend .friend__state .friend__state__item p{
    padding-top: 20px;
}
.friend .friend__reviews{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px; 
}
.friend .friend__reviews:hover .friend__reviews__item{
    box-shadow: 10px 10px 5px rgba(29, 69, 29, 0.8);
}
.friend .friend__reviews .friend__reviews__item{
    margin-left: 30px;
    background: #B9CA9D;
    transition: all 0.5s ease-out;
    padding: 20px;   
}
.friend .friend__reviews .friend__reviews__item p{
    text-align: justify;
    font-size: 14px;
}
.friend .friend__reviews .friend__reviews__item span{
    display: block;
    text-align: right;
    font-size: 12px;
    padding-top: 10px;
}

/* shop */

.shop{
    width: 100vw;
    /* max-width: 1240px; */
    margin: 0 auto;
}
.shop .product__slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop .product__slider .product__slider__item{
    padding-right: 30px;
}
.shop .product__slider .product__slider__item:last-child{
    padding-right: 0px;
}
.shop .product__slider .product__slider__item img{
    width: 250px;
    height: auto;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
}
.shop .product__slider .product__slider__item h4{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}
.shop .product__slider .product__slider__item p{
    padding: 10px 0;
}
.shop .product__slider .product__slider__item .product__slider__price{
    display: block;
    text-align: center;
    font-weight: bold;
    background: #B9CA9D;
    width: 100%;
    max-width: 150px;
}
.shop .help{
    width: 100vw;
    /* max-width: 1240px; */
    min-height: 300px;
    background:url(../img/help-bg.png) no-repeat center;
    background-size: cover;
}
.shop .help .help__inner{
    width: 50%;
    max-width: 1240px;
    text-align: left;
    color: #ffffff;
    padding: 80px 0;
}

.shop .help .help__inner h3{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
}
.shop .help .help__inner p{
    font-size: 16px;
    line-height: 130%;
}
.shop .help .help__inner .white__button button{
    margin-right: 0px;
}

/* terms */
.terms{
    width: 100vw;
    /* max-width: 1240px; */
    margin: 0 auto;
}
.terms .terms__inner{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    grid-gap: 20px;
    text-align: center;
    line-height: 1.2;
}
.terms .terms__inner .terms__title,
.terms .terms__shop .terms__title{
    font-size: 26px;
    font-weight: bold;
    padding: 25px 0;
    text-align: center;
}
.terms .terms__inner .terms__item li{
    padding-bottom: 20px;
    list-style: none;
}
.terms .terms__showroom .terms__slider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.terms .terms__showroom .terms__slider .terms__slider__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-basis: 33%;
    border: 1px solid #000;
    transition: ease-out 1s;
}
.terms .terms__showroom .terms__slider .terms__slider__item:hover{
    flex-basis: 100%;
    transform: scale(1.1); 
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
}
.item-1{
    background:url(../img/shop-1.png) no-repeat center center;
    background-size: cover;
}
.item-2{
    background:url(../img/shop-2.png) no-repeat center center;
    background-size: cover;
}
.item-3{
    background:url(../img/shop-3.png) no-repeat center center;
    background-size: cover;
}
.terms .terms__showroom .terms__shop{
    text-align: center;
}
.terms .terms__showroom .terms__shop .terms__var{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding-top: 20px;
}
.terms .terms__showroom .terms__shop .terms__var .terms__point img{
    vertical-align: middle;
}
.terms .terms__showroom .terms__shop .terms__var .terms__point a{
    padding-bottom: 15px;
    text-decoration: none;
    color: #000;
}
.terms .terms__showroom .terms__shop .terms__var .terms__time p{
    padding-top: 10px;
}
.terms .terms__showroom .terms__shop .terms__var .terms__time .circle-full{
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #000;
    border: 1px solid #000;
    border-radius: 50%;
}
.terms .terms__showroom .terms__shop .terms__var .terms__time .circle-empty{
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 1px solid #000;
    border-radius: 50%;
}
.terms .terms__card iframe{
    width: 100vw;
    margin: 50px auto;
}
 

/* feedback */

.feedback{
    width: 100vw;
    /* max-width: 1240px; */
    min-height: 500px;
    background:url(../img/feedback-bg.png) no-repeat center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}
.feedback .feedback__inner{
    width: 60%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
    background:  rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.feedback .feedback__inner p{
    color: #FFF; 
    padding: 10px 0;
    font-size: 16px;
    line-height: 300%; 
}
.feedback .feedback__inner .feedback__input input{
    background: #B9CA9D;
    opacity: 0.75;
    width: 100%;
    max-width: 160px;
    min-height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.2;
}
.feedback .feedback__inner .feedback__input input:first-child{
    margin-right: 20px;
}

/* footer */

.footer{
    width: 100vw;
    /* max-width: 1240px; */
    min-height: 100px;
    margin: 0 auto;
    background: #000;
}
.footer .footer__inner{
    width: 100%;
    /* max-width: 1240px; */
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #FFF;
}
.footer .footer__inner .footer__logo{
    height: 30px;
}
.footer .footer__inner .footer__logo a{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #FFF;
    letter-spacing: 4px;
    border: 2px solid #ffff;
    text-decoration: none;
    position: relative;
    transition: all 1s ease-out;
    padding: 5px 4px 5px 8px;
}
.footer .footer__inner .footer__logo a:hover{
    background:#fff;
    color: #000;
    border: 2px solid #000;
}
.footer .footer__inner .footer__item p{
    padding-top: 10px;
    font-size: 14px;
}
.footer .footer__inner .footer__item a{
    text-decoration: none;
    color: #fff;
}
.footer .footer__inner .footer__item img{
    vertical-align: middle;
}